127.0.0.1

[loadbalancers]
lb1

[test]
app1
web1
lb1

[webservers]
web1
web2

[wordpress]
web1

[docker]
docker1

[appservers]
app1

[development]
dev1

[databases]
db1

[production:children]
webservers
appservers
databases
loadbalancers

[local]
localhost

[ubuntu]
localhost
web1
web2

[centos]
app1

[local]
localhost

