# MariaDB 5.5 repository list - created 2016-02-24 22:52 UTC
# http://mariadb.org/mariadb/repositories/
deb [arch=amd64,i386] http://sfo1.mirrors.digitalocean.com/mariadb/repo/5.5/ubuntu precise main
deb-src http://sfo1.mirrors.digitalocean.com/mariadb/repo/5.5/ubuntu precise main
